.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16.6px;
}

.searchbar {
  width: 100%;
  max-width: 700px;
}

.add-folder-btn {
  height: 58.5px;
  margin-bottom: 1.5rem;
  padding: 10px 25px;
  font-size: 14px;
  color: var(--color-white);
  background-color: var(--color-accent);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.add-folder-btn:hover {
  background-color: var(--color-accentHover);
}
